<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="site-mobile-menu site-navbar-target">
	<div class="site-mobile-menu-header">
		<div class="site-mobile-menu-close mt-3">
			<span class="icon-close2 js-menu-toggle"></span>
		</div>
	</div>
	<div class="site-mobile-menu-body"></div>
</div>
<!-- .site-mobile-menu -->

<!-- NAVBAR -->
<header class="site-navbar mt-3">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="site-logo col-6">
				<a th:href="@{/}">JobFair</a>
			</div>

			<nav class="mx-auto site-navigation">
				<ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
					<li><a th:href="@{/}" class="nav-link active}">Home</a></li>
					<li><a th:href="@{job-listings}">Job Listings</a></li>
					<li><a th:href="@{about}">About</a></li>
					<li><a th:href="@{services}">Services</a></li>
					<li><a th:href="@{blog}">Blog</a></li>
					<li class="d-lg-none"><a th:href="@{contact.html}">Contact
							Us</a></li>
				</ul>
			</nav>

			<div
				class="right-cta-menu text-right d-flex aligin-items-center col-6">
				<div class="ml-auto">
					<a th:href="@{'/login'}" sec:authorize="isAnonymous()"
						class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
						class="mr-2 icon-paper-plane"></span>Login</a>
					<form th:action="@{/j_spring_security_logout}" method="post">
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" /> <input class="btn btn-primary"
							type="submit" value="Sign Out" sec:authorize="isAuthenticated()" />
					</form>
				</div>
				<a th:href="@{#}"
					class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
					class="icon-menu h3 m-0 p-0 mt-2"></span></a>
			</div>

		</div>
	</div>
</header>